<!doctype html>
<html>
<head lang="en">
	<!-- Meta Description -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	
	<title>Skycision</title>
	<meta name="description" content="Skycision - Precision Agriculture" />	    
	<meta name="keywords" content="data, drone, mining, sensor, precision agriculture" />
	<meta property="og:title" content="Skycision" />
	
	<!-- CSS -->
	<!-- Please-wait -->
	<link rel="stylesheet" href="/static/css/please-wait.css" />
	<!-- Spin-kit -->
	<link rel="stylesheet" href="/static/css/spinkit.css" />
	<!-- FullPage -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.css" />
	<!-- Normalize -->
	<link rel="stylesheet" href="/static/css/normalize.css" />
	<!-- Border Menu -->
	<link rel="stylesheet" href="/static/css/border-menu.css" />
	<link rel="stylesheet" href="/static/css/icons.css" />
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
	<!-- Font Awesome -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
	<!-- Animate -->
	<link rel="stylesheet" href="/static/css/animate.min.css" />
	<!-- Icon-hover -->
	<link rel="stylesheet" href="/static/css/icon-hover.css" />
	<!-- Wave -->
	<link rel="stylesheet" href="/static/css/waves.min.css" />
	<!-- Tooltipster -->
	<link rel="stylesheet" href="/static/css/tooltipster.css" />
	<link rel="stylesheet" href="/static/css/tooltipster-light.css" />
	<!-- Animsition -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/css/animsition.min.css"/>
	<!-- Sweet Alert -->
	<link rel="stylesheet" href="/static/css/sweetalert.css" />
	<!-- Notify -->
	<link rel="stylesheet" href="/static/css/notify.css" />
	<link rel="stylesheet" href="/static/css/alert-blackgloss.css" />

	{% block content %}{% endblock %}

</html>