{%extends "base.html"%}
{% block content %}


    {% if form.errors %}

    <p class = "error"> Error in your form </p>

    {% endif %}
<div class="container">
<form name="setPassword" method="POST" action="/accounts/set_password/">
 {% csrf_token %}
        <h2 class="form-signin-heading">Change the password</h2>
        <label for="email" class="sr-only">Email</label>
        <input type="email" id="email" class="form-control" placeholder="Email" name = "email"required autofocus>
        <label for="inputEmail" class="sr-only">New Password</label>
        <input type="password" id="newPassword" class="form-control" placeholder="New Password" name = "newpassword" required>
        <label for="inputPassword" class="sr-only">Confirm Password</label>
        <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" name = "confirmpassword" required>
</div> 
<button class="btn btn-lg btn-primary btn" type="submit">Submit</button> 
</form >

{% endblock %}